<% if tweet.favorited_by?(current_user) %>
  <p><span>いいね解除：</span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :delete %></p>
<% else %>
  <p><span>いいね登録：</span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :post %></p>
<% end %>
