// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/***** user-index *****/
.user-list-area{
  display: flex;
  padding-top: 2%;
}

.user-list-content{
  width: 20%;
}


/***** user-show *****/
.user-show-area{
  margin: 2% 0;
}
